.hover-example__container {
  align-items: center;
  background-color: var(--primary-dark);
  color: var(--white);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  width: 18rem;
}
