.dates__definitions {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: auto 1fr;
  padding: 1.5rem;
}

.dates__definition-headline {
  font-size: 1.5rem;
  text-align: center;
}

.dates__definition-item {
  box-shadow: var(--box-shadow);
  padding: 1.25rem;
}

.dates__definition-lists {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  padding: 2rem;

}

.dates__term {
  font-weight: 700;
  text-align: end;

  &::after {
    content: ': ';
  }
}



@media (min-width: 1000px) {
  .dates__definition-lists {
    grid-template-columns: repeat(3, 1fr);
  
  }
}
