:root {
  --box-shadow: 0.25rem 0.5rem 1rem var(--black-10), -0.125rem -0.25rem 0.5rem var(--black-5);
  --box-shadow-sm: 0.125rem 0.25rem 0.5rem var(--black-10), -0.0625rem -0.125rem 0.25rem var(--black-5);
  --box-shadow-lg: 0 0.125rem 0.4rem 0 var(--black-15), 0 0.125rem 0.6rem 0 var(--black-10);
}