.layout {
  background-color: #f1f9ff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  padding-bottom: 5rem;
  position: relative;
  width: 100%;
}

.download-button__sticky-parent {
  background: var(--white);
  bottom: 0;
  box-shadow: var(--box-shadow);
  display: grid;
  justify-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}
